*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    padding: 0px;
    flex: 1;
    align-items: center;
}
nav {
    flex: 1;
    text-align: right;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: darkolivegreen;
    padding-right: 40px;
    font-size: 20px;
}
nav a:hover{
    color: crimson;
}
.header{
    margin: auto;
    padding-left: 50px;
    padding-right: 20px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}
.row .col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
    height: 500px;
}
.col-2 h1{
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    color: darkgoldenrod;
}
.col-2 p{
    margin-top: 30px;
    font-size: 22px;
    color: darkolivegreen;
    text-align: center;
}
.col-2 a{
    position: relative;
    top: 40px;
    background-color: crimson;
    color: cornsilk;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
   left: 250px;
   font-size: 18px;
}
.col-2 a:hover{
    color: greenyellow;
}
.container{
    background: radial-gradient(#F2A2E8,#E1D9D1);
}
.row .col-3{
    flex-basis: 30%;
    min-width: 300px;
}
.col-3 img{
    width: 100%;
    height: 200px;
    margin: 50px 0px;
}
  .container1{
 background: radial-gradient(#FFCBA4,#FFDDCA);
 padding-left: 25px;
 padding-right: 25px;
  } 
  .row .col-4{
    flex-basis: 20%;
    min-width: 250px;
    align-items:center ;
    justify-items: center;
    transition: 0.5s ease;
  }
  .col-4 h3{
    color: chocolate;
    text-align: left;
    font-size: 21px;
  }
.col-4 p{
    color: crimson;
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
}
.col-4 .img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 20px;
    background: aquamarine;
}
.col-4 .star{
    height: 100px;
    width: 100px;
    align-items: center;
    position: relative;
    left: 70px;
    top:-30px;
}
.container2{
    padding-left: 40px;
    background-color: aquamarine;
}
.container2 h1{
    padding: 20px 0;
    color: crimson;
    font-size: 40px;
    text-align: center;
}
footer .img{
    height:30px;
    width: auto;
    padding-right:30px ;
    position: relative;
    left: 560px;
}
.container3 h2{
    padding: 20px 0;
    text-align: center;
}
 .container3{
    background:radial-gradient(dimgrey,#D8BFD8);
 }
 .container3 p{
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
 }
 .container2 a{
    color: crimson;
    text-decoration: none;
 }
 .container2 .col-4:hover{
transform: scaleX(1.1);
 }
 .container3 .img:hover{
   transform: scaleY(1.2);
 }